:root {
    --light-rose: #FECBD4;
    --periwinkle: #6A7CC6;
    --light-turquoise: #74C3E1;
    --dark-rose: #E58498;
    --lavender: #DACBF6;
    --border: #FFF;
    --gray: #555;
    --shadow: 10px;
}

html, body {
    height: 100%;
}


body {
    font-size: 3rem;
    background-image: url("../media/balloons6.jpeg");
    padding: 5.5rem;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--periwinkle);
    font-size: 3em;
    margin-bottom: 1.5em;
    text-transform: capitalize;
    text-align: center;
    font-weight: 750;
    text-shadow: var(--shadow) 0 var(--border), calc( -1 * var(--shadow)) 0 var(--border),
                0 var(--shadow) var(--border), 0 calc( -1 * var(--shadow)) var(--border),
                calc( 0.5 * var(--shadow)) calc( 0.5 * var(--shadow)) var(--border),
                calc( -0.5 * var(--shadow)) calc( -0.5 * var(--shadow)) var(--border),
                calc( 0.5 * var(--shadow)) calc( -0.5 * var(--shadow)) var(--border),
                calc( -0.5 * var(--shadow)) calc( 0.5 * var(--shadow)) var(--border);
}

h2 {
    padding: 0.75em 0;
    color: var(--dark-rose);
}

#home {
    height: 100%;
    padding: 1em;
    background: rgb(255, 255, 255, 0.6);
    border-radius: 6rem;
    margin-bottom: 5rem;
}

form {
    background-color: var(--lavender);
    border-radius: 1em;
    padding: 1em;
    border: 5px solid var(--periwinkle);
}

form > * {
    margin: 0.75rem auto;
    display: block;
}

label, p, #hint {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    text-align: center;
    margin-bottom: 3rem;
}

input, button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
    font-size: 1em;
}

input {
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

button {
    width: 6em;
    background-color: var(--dark-rose);
    border: none;
    padding: 0.3em;
    color: white;
}

#hint {
    text-align: left;
}

a {
    color: var(--periwinkle);
    text-align: left;
}

p {
    font-family: Arial, sans-serif;
    margin: 2.5em 0;
    font-size: 4rem;
    font-weight: 500;
}

#hint p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin: 0.5em 0 1em 0;
    font-size: 1.75rem;
    color: var(--gray);
}

span {
    color: var(--periwinkle);
    font-weight: 600;
}



/* CLASSES */

.pink {
    background-color: hotpink;
}

.hidden {
    display: none;
}