:root {
    --primary-blue: #0099FF;
    --secondary-blue: #CCECFF;
}

body {
    background-color: var(--primary-blue);
    padding: 1rem;
    font-size: 3rem;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3em;
    margin-bottom: 2em;
    text-transform: capitalize;
    text-align: center;
}

form > * {
    margin: 0.75rem auto;
    display: block;
}

label {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    text-align: center;
    margin-bottom: 3rem;
}

input, button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    font-size: 1em;
    padding: 0.25rem;
}

button {
    width: 6em;
    background-color: rgb(255,255,255,0.75);
}